body {
  background-image: url("./magnolia3.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-blend-mode: soft-light; */
}

/* img {
  background: transparent;
  position: absolute;
  margin-left: 500px;
  margin-top: 100px;
} */

div {
  margin-left: 500px;
  margin-top: 150px;
  height: 200px;
}

.logo img {
  height: 100%;
  width: auto;
}

.centertext {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: white;
    font-family: Georgia, Serif;
}

a {
  font-size: 200px;
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
