html{
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Anonymous Pro', monospace;
  font-size:20px;
  margin: 10px 50px;
  letter-spacing: 6px;
  font-weight: bold;
  height: calc(100vh - 8em);
  padding: 1em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;
  background-color: rgb(25,25,25);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: normal;
}
.card {
  display: inline-block;
  width: 100%;
}
